:root {
    --color-border: rgba(0, 0, 0, .4);
    --color-text: #333333;
    --color-light-bg: #c4c4fd;
    --color-accent: blue;
    --color-danger: red;
    --color-modal-bg: rgba(0, 0, 0, .9);
    --color-button-text: #fff;

    --transition-duration: 200ms;
    --transition-timing-funciton: ease-in-out;

    --font-main: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    color: var(--color-text);
    min-height: 100vh;
    font-family: var(--font-main);
}
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-timing-funciton);
}

.App {
    padding: 15px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    grid-template-rows: 50px 1fr;
}

.nav {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    place-content: center;
}

.nav__link {
    color: var(--color-text);
    text-decoration: none;
}

.nav__link_active {
    font-weight: bold;
}

.form {
    position: relative;
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
}

.form__container {
    display: grid;
    grid-gap: 30px;
    width: 100%;
}

.form__title {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.form__element {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.form__label {
    width: 75px;
}

.input {
    font-family: var(--font-main);
    flex-grow: 1;
    padding: 5px;
    height: 35px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.input_invalid {
    border-color: var(--color-danger);
}

.input_type_radio {
    display: none;
}

.form__textarea {
    flex-grow: 1;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 5px;
    height: 50px;
    resize: none;
}

.form__time-slots {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 5px;
}

.form__select {
    flex-grow: 1;
}

.form__submit {
    font-family: var(--font-main);
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-button-text);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity var(--transition-duration) var(--transition-timing-funciton);
}

.form__submit:hover {
    opacity: .6;
}

.form__submit_disabled {
    opacity: .3;
    cursor: default;
}

.button-time {
    padding: 7px;
    background: transparent;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    transition: all var(--transition-duration) ease;
}

.button-time_active {
    color: var(--color-button-text);
    background-color: var(--color-accent);
}

.button-time_disabled {
    color: gray;
    opacity: .7;
}

.button-time:hover {
    color: var(--color-text);
    background-color: var(--color-light-bg);
}

.button-time_disabled:hover {
    color: gray;
    background-color: transparent;
    cursor: not-allowed;
}

.button-time_active:hover {
    color: var(--color-button-text);
    background-color: var(--color-accent);
}

.form__rule-message {
    font-size: 12px;
}

.form__input-error {
    position: absolute;
    top: 40px;
    font-size: 12px;
    color: var(--color-danger);
    left: 75px;
}

.form__message {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 15px;
    display: grid;
    place-content: center;
    background-color: var(--color-modal-bg);
    color: #fff;
    font-size: 24px;
    transition: opacity var(--transition-duration) var(--transition-timing-funciton);
    opacity: 0;
    pointer-events: none;
}

.form__input-loading-msg {
    position: absolute;
    left: 75px;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-timing-funciton);
}

.form__input-loading-msg_show {
    opacity: 1;
}

.form__message_type_loading {
    transition-delay: 500ms;
    transition-duration: 600ms;
}

.form__message_show {
    opacity: 1;
    pointer-events: visible;
}

.appointments {
    align-self: baseline;
    width: 100%;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.schedule {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
}

.schedule__card {
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.schedule__details {
    padding: 10px;
}

.schedule__time {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15px;
    background-color: var(--color-light-bg);
    font-weight: bold;
}

.schedule__patient {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.schedule__delete {
    color: var(--color-text);
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all var(--transition-duration) var(--transition-timing-funciton);
    opacity: .5;
}

.schedule__delete:hover {
    color: var(--color-danger);
    opacity: .8;
}

@media screen and (max-width: 529px) {
    .form {
        width: 100%;
    }

    .filters {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 389px) {
    .form__element {
        flex-wrap: wrap;
    }

    .form__label {
        width: 100%;
    }

    .form__input-error {
        top: 55px;
        left: 0;
    }
}
